XML/src/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:simpleType name="positiveInt">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="money">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="author" type="xs:string"/>
                            <xs:element name="year" type="xs:gYear"/>
                            <xs:element name="price" type="money"/>
                            <xs:element name="category" type="xs:string"/>
                        </xs:sequence>
                        <!-- исправлено: id теперь integer -->
                        <xs:attribute name="id" type="xs:integer" use="required"/>
                        <xs:attribute name="copies" type="positiveInt" use="required"/>
                        <xs:attribute name="available" type="positiveInt" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
